---
import Layout from "../layouts/Layout.astro";
import Info from "../components/Info.astro";
import Header from "../components/Header.astro";
import Proyectos from "../components/Proyectos.astro";
import Estudios from "../components/Estudios.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Elizon's Porfolio">
  
  <main>
    <Header />
    <Info />
    <Proyectos />
    <Estudios  id="estudios"/>
    <Skills/>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 20px;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  @media (max-width: 800px) {
    main {
      margin: auto;
      width: 100%;
    }
  }
  
</style>
