---
import Layout from '../layouts/Layout.astro';
import Info from '../components/Info.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<Header/>
	<main>
		<Info />
	</main>
</Layout>

<style>
	main {
		margin: auto ;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
