<section>
    <h1>About Me</h1>
   
</section>
<style>
   h1{
    margin-left: 1rem;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 500;
   }
</style>