---
import AboutMeLogo from "./logos/AboutMeLogo.astro";
const { id } = Astro.props;
---

<section id={id}>
  <div class="title">
    <AboutMeLogo />
    <h1>About Me</h1>
  </div>
  <div class="about">
    <div>
      <p>
        Hi I'm Elizon! <small class="gradiente"
          >Graduated in computer science from the Autonomous University of Santo
          Domingo.</small
        > where I developed my skills and knowledge, which led me to train in computer
        science and science in general.
      </p>
      <p>
        In my beginnings in programming, <small class="gradiente"
          >I was programming in a notepad, which helped me to debug the code
          better</small
        > and even to improve the programming logic, improving every day in learning.
      </p>
      <p>
        I worked <small class="gradiente">
          collaboratively with other students on some projects
        </small>, I also collaborated to share knowledge that I acquired during
        the time I studied.
      </p>
    </div>
    <div>
      <img src="/img/graduacion.jpg" alt="A picture of me" />
    </div>
  </div>
</section>
<style>
  h1 {
    margin-left: 1rem;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 500;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit:cover;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    float: left;
    margin-right: 1rem;
  }
  p {
    text-wrap: wrap;
    margin-left: 1rem;
    text-overflow: clip;
  }
  small {
    font-size: 20px;
    font-weight: 500;
  }
  .gradiente {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title {
    display: flex;
    align-items: center;
  }
  .about {
    display: flex;
    
  }
</style>
