---
const { href, download, class: className} = Astro.props;

---

<a href=`${href}` target="_blank" rel="noopener" download=`${download}`class={className}>
  <slot name="logo" />
  <slot name="text" />
</a>

<style>
  a {
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    transition:
      background-color 0.2s,
      color 0.2s;
    transition: all 0.3s;
  }
  a:hover {
    background-color: #f5f5f5;
    color: #000;
    scale: 1.1;
  }
  .disabled{
    pointer-events: none;
    color: rgb(245, 114, 114);
  }
</style>
