---
import Birrete from "./logos/Birrete.astro";
---

<section>
  <div class="title">
    <Birrete />
    <h1>Estudios</h1>
  </div>
  <div class="card">
    <div>
      <h2>Universidad Autonoma de Santo Domingo (UASD)</h2>
      <span>2016/ene - 2024/feb</span>
      <div class="generales">
        <p>Titulo - Licenciado en Informatica</p>
        <p>Academia - UASD</p>
        <p>Faculltad - Ciencias</p>
        <p>Escuela - Informatica</p>
        <p>Grado - Licenciado</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div>
      <h2>Mastermind</h2>
      <span>2022/mar - 2022/abr</span>
      <div class="generales">
        <p>Titulo - Desarrollo Web</p>
        <p>Academia - Mastermind</p>
        <p>Habilidades - HTML, CSS, JavaScript</p>
        <p>Escuela - Mastermind</p>
        <p>Grado - Certificado</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div>
      <h2>Universidad Autonoma de Santo Domingo (UASD)</h2>
      <span>2020/jun - 2020/ago</span>
      <div class="generales">
        <p>Titulo - Analista de Datos SQL</p>
        <p>Academia - UASD</p>
        <p>Faculltad - Ciencias</p>
        <p>Escuela - Informatica</p>
        <p>Grado - Certificado</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div>
      <h2>Universidad Autonoma de Santo Domingo (UASD)</h2>
      <span>2020/jun - 2020/ago</span>
      <div class="generales">
        <p>Titulo - Programador en Java</p>
        <p>Academia - UASD</p>
        <p>Faculltad - Ciencias</p>
        <p>Escuela - Informatica</p>
        <p>Grado - Certificado</p>
      </div>
    </div>
  </div>
</section>
<style>
  .card {
    position: relative;
    padding: 0 20px;
  }
  .card::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 120%;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    left:-15px;
    top: 10px;
  }
  .card::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    left: -22px;
    top: 8px;
  }
  .title {
    display: flex;
    align-items: center;
  }
  .title h1 {
    margin-left: 10px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .generales {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    margin-top: 10px;
  }
  h2 {
    font-size: 20px;
  }
  span {
    font-size: 14px;
    color: #9e9c9c;
  }
  p {
    font-size: 16px;
  }
  section{
    margin-bottom: 100px;
  }
</style>
