---
import { getLangFromUrl, useTranslations, useTranslatedPath} from '../i18n/utils';
import LanguagePicker from './LanguagePicker.astro';
import { getI18N } from '@/i18n';

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const navItems = [
  {
    title: `${t("nav.projects")}`,
    label: "Proyects",
    href: `${translatePath("/#projects")}`,
  },
  {
    title: `${t("nav.studies")}`,
    label: "estudios",
    href: `${translatePath("/#estudios")}`,
  },
  {
    title: `${t("nav.stack & softSkill")}`,
    label: "stack-&-softSkill",
    href: `${translatePath("/#stack-&-softSkill")}`,
  },
  {
    title: `${t("nav.about Me")}`,
    label: "about-me",
    href: `${translatePath("/#about-me")}`,
  },
];
---

<header>
  <nav>
    <ul>
      {
        navItems.map((link) => {
          return (
            <li>
              <a href={link.href} aria-label={link.label} >
                {link.title ? link.title : link.label}
              </a>
            </li>
          );
        })
      }
        <LanguagePicker/>
    </ul>
    
  </nav>
</header>
<style>
  header {
    position: sticky;
    margin: auto;
    top: 0px;
    z-index: 1;
    width: 100%;
    border-radius: 20px;
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0% 100%;
    backdrop-filter: blur(10px);
  }
  @keyframes adjust-header {
    to{
      background: rgba(0, 0, 0, .3) ;
    }
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 5px;
    
  }

  nav ul li {
    flex-direction: column;
    margin-right: 10px;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
  nav ul li:hover {
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
