---
import { languages } from "../i18n/ui";
import {
  getRouteFromUrl,
  useTranslatedPath,
  getLangFromUrl,
} from "../i18n/utils";
import ChevronIcon from "./logos/ChevronIcon.astro";
const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const currentLocaleData = languages[lang];
const otherLocales = Object.values(languages).filter(
  (locale) => locale.code !== lang
);
---



<button type="button" >
  {
    otherLocales.map((locale) => (
      <a href={translatePath(`/${route ? route : ""}`, locale.code)} >
        <currentLocaleData.flag />
        <small>{locale.code ? currentLocaleData.code : locale.code}</small>
      </a>
    ))
  }
</button>
<script>
  const anchor: any = document.querySelector("a");
  anchor.addEventListener("submit", (e: any) => {
    e.preventDefault();
  });
</script>
<style>
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
  }
  small {
    margin-left: 5px;
    font-size: 12px;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 8px;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    transition: ease-in-out .2s;
  }
  button:hover {
    animation: both 0.5s ease-in-out;
    background: rgba(0, 0, 0, .5);
  }
</style>
